@charset "UTF-8";
body {
  color: #545454;
  background: #eef3fa;
  font: 12px/1.5 'microsoft yahei', 'SimSun';
}

.top {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #eee;
  line-height: 30px;
  background: #F7F7F7;
}

.top .w {
  width: 990px;
  padding: 0;
  margin: 0 auto;
}

.top .favorite {
  float: left;
  padding: 0 11px 0 16px;
  position: relative;
  cursor: pointer;
}

.top .favorite i {
  top: 8px;
  left: 0;
  width: 13px;
  height: 13px;
  background: url(../img/20130725.png) no-repeat 0 0;
  cursor: pointer;
  position: absolute;
  -webkit-transition: -webkit-transform .2s ease-in 0s;
}

.top span {
  display: inline;
}

.quick_list {
  float: right;
  height: 30px;
}

.quick_list li {
  height: 30px;
  padding: 0 11px 0 12px;
  float: left;
  position: relative;
}

.quick_list li a {
  margin: 0 3px;
}

.w {
  width: 990px;
  padding: 0;
  margin: 0 auto;
}

#logo {
  padding: 10px 0;
  float: none;
  margin: 0;
  position: relative;
}

#logo b {
  position: absolute;
  font-size: 30px;
  text-align: center;
  background-color: #f1f1f1;
  width: 150px;
  height: 46px;
  top: 18px;
  margin-left: 20px;
}

#logo img {
  display: inline-block;
}

#regist {
  background: #FFF;
  margin-bottom: 10px;
}

#regist .mt {
  padding-right: 10px;
  position: relative;
  overflow: visible;
  margin-bottom: -1px;
  border-bottom: 1px solid #dddddd;
  height: 32px;
  line-height: 32px;
  background: #f2f2f2;
}

#regist .mt .extra {
  position: absolute;
  right: 20px;
  top: 5px;
}

#regist .item {
  padding-top: 9px;
  height: 60px;
  line-height: 34px;
  position: relative;
  z-index: 1;
}

#regist .item .item-ifo {
  position: relative;
  width: 270px;
  float: left;
}

#regist .item .item-ifo i.i-name {
  background-position: -373px -111px;
  width: 16px;
  height: 16px;
}

#regist .label {
  width: 190px;
  text-align: right;
  font-size: 14px;
  float: left;
  color: #999;
  padding-right: 10px;
}

#regist .label b {
  margin-right: 5px;
  font-weight: normal;
  font-family: 宋体;
}

#regist .text {
  width: 238px;
  height: 16px;
  float: none;
  font-size: 14px;
  font-family: arial, 宋体;
  color: #999999;
  padding: 10px 25px 10px 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
  border-image: initial;
}

.flk13 {
  color: #005AA0;
}

.ftx04, .flk04 a:link, .flk04 a:visited, a.flk04:link, a.flk04:visited {
  color: #e3393c;
}

.form {
  width: 900px;
  margin: 30px auto;
}
#regist .text-1 {
    width: 100px;
    float: left;
}
.btn {
    margin-left: 10px;
    border: 1px solid #dddddd;
    padding: 0;
    width: 106px;
    height: 36px;
    background: #f4f4f4;
    margin-top: 0;
    text-align: center;
    line-height: 36px;
    color: #333;
    text-decoration: none;
    display: inline-block;
}
#regist .error {
    color: #e4393c;
    line-height: 36px;
    height: 36px;
    position: absolute;
    top: 0px;
    right: -275px;
    width: 260px;
    padding: 0 5px;
    background: #FFEBEB;
    border: 1px solid #ffbdbe;
}

#regist .btn-regist {
    width: 270px;
    height: 36px;
    color: #FFF;
    font-family: "微软雅黑";
    font-size: 16px;
    text-indent: -9999px;
    font-weight: 800;
    overflow: hidden;
    background: url(../img/regist-btn.jpg) no-repeat;
    border: none 0;
}
#footer {
    padding-bottom: 30px;
    text-align: center;
    .copyright{
        margin: 10px 0;
    }
}